.animated-number-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .animated-number {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
  }
  
  
  .animated-number {
    animation: flip 0.5s ease-in-out;
  }
  
  @keyframes flip {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100%);
      opacity: 0;
    }
    51% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }